@charset "UTF-8";

html, body {
  width: 100vw;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  
}


#container {
  margin-top: 50px;
  display: flex;
  width: 80%;
  height: 900px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 50px;
  
}

#container > div {
  border: 3px solid black;
  width: 30%;

}

#container > .card {
  background-color: #fff;
  width: 310px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px black;
  
}
#topcard {
  display: flex;
  justify-content: center;
  height: 200px;
}

.thumb {
  display: inline-block;
  width: clamp(302px, 30%, 305px);
  position: absolute;

}

.cont-img {
  width: 30%;
  height: 60%;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 110px;
  
}


.name {
  margin-top: 15px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.action {
  background-color: #e8e8e8;
  display: flex;
  padding: 15px;
  justify-content: center;
  gap: 40px;
  margin-bottom: 0;

}
